*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    padding: 20px;
}

#sidebar{
    background-color: plum;
    padding: 20px;
}

#mainContent{
    background-color: lightcoral;
    padding: 20px;
}

footer{
    padding-left: 20px;
}
@media (min-width: 701px) {
    #sidebar{
        float: left;
        width: 30%;
    }
    
    #mainContent{
        float: right;
        width: 70%;
    }
    
    #footer{
        display: block;
        clear: both;
    }
}


@media (max-width: 700px) {
    #sidebar, #mainContent{
        float: none;
        width: 100%;
    }
    
    #footer{
        display: none;
    }
}